{% extends 'limupaApp/base.html' %}
{% load static %}

{% block content %}
<div style="margin-top: 200px;">
    {% if user.profile.user_type == 'seller' %}
    <h2>Send Notification Email</h2>
    <form method="post" action="{% url 'send_email' %}">
        {% csrf_token %}
        <label for="subject">Subject:</label>
        <input type="text" id="subject" name="subject" required><br><br>

        <label for="message">Message:</label>
        <textarea id="message" name="message" required></textarea><br><br>

        <label for="recipient_email">Recipient Email:</label>
        <input type="email" id="recipient_email" name="recipient_email" required><br><br>

        <button type="submit">Send Email</button>
    </form>
    {% else %}
        <p>You are not authorized to send emails.</p>
    {% endif %}

</div>
{% endblock %}